@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h4 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  p {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
